USE [Quiz]
GO
/****** Object:  Table [dbo].[AppConfigs]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppConfigs](
	[ConfigKey] [nvarchar](100) NOT NULL,
	[ConfigValue] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AppSettings_ConfigKey] PRIMARY KEY CLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carousels]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carousels](
	[CarouselId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Image] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AppId] [int] NOT NULL,
	[SerialNo] [int] NOT NULL,
 CONSTRAINT [PK_Carousels_CarouselId] PRIMARY KEY CLUSTERED 
(
	[CarouselId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapters]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapters](
	[ChapterId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[SerialNo] [int] NULL,
 CONSTRAINT [PK_Chapters] PRIMARY KEY CLUSTERED 
(
	[ChapterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseFacilities]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseFacilities](
	[FacilityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_CourseFacilities] PRIMARY KEY CLUSTERED 
(
	[FacilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[PriceId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[IsRandom] [bit] NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[PassScore] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED 
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[IsLogin] [bit] NOT NULL,
	[LoginDate] [datetime] NOT NULL,
	[LogoutDate] [datetime] NULL,
	[DeviceInfo] [nvarchar](max) NOT NULL,
	[LoginIp] [nvarchar](20) NOT NULL,
	[MachineName] [nvarchar](100) NULL,
	[MachineInfo] [nvarchar](500) NULL,
	[Attempt] [int] NOT NULL,
	[Signature] [nvarchar](500) NULL,
 CONSTRAINT [PK__Login__4DDA28188B9CBD87] PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuId] [int] NOT NULL,
	[ParentId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SerialNo] [int] NOT NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[OptionId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
	[IsCorrect] [bit] NULL,
	[QuestionId] [int] NULL,
 CONSTRAINT [PK_Options_OptionId] PRIMARY KEY CLUSTERED 
(
	[OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Method] [nvarchar](10) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[Status] [nvarchar](10) NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prices]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prices](
	[PriceId] [int] NOT NULL,
	[CourseId] [int] NULL,
	[Price] [decimal](5, 2) NULL,
	[Discount] [decimal](5, 2) NULL,
	[Amount] [decimal](5, 2) NULL,
	[ValidFrom] [date] NULL,
	[ValidTo] [date] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Prices] PRIMARY KEY CLUSTERED 
(
	[PriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prizes]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prizes](
	[PrizeId] [int] IDENTITY(1,1) NOT NULL,
	[EntityId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Prizes] PRIMARY KEY CLUSTERED 
(
	[PrizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programs](
	[ProgramId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SerialNo] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[ProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionMaps]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionMaps](
	[MapId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Quizzes] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NOT NULL,
	[Total] [int] NULL,
	[Correct] [int] NULL,
	[Incorrect] [int] NULL,
	[Score] [decimal](5, 2) NULL,
	[Passed] [bit] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Results] PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] NOT NULL,
	[ProgramId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Part] [nvarchar](20) NULL,
	[Code] [nvarchar](5) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SerialNo] [int] NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAnswers]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnswers](
	[UserAnswerId] [int] NOT NULL,
	[UserId] [int] NULL,
	[UserExamId] [int] NULL,
	[QuestionId] [int] NULL,
	[OptionId] [int] NULL,
	[TimeTaken] [int] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Abswers] PRIMARY KEY CLUSTERED 
(
	[UserAnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserExams]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserExams](
	[UserExamId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ExamId] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Score] [decimal](5, 2) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_UserExams] PRIMARY KEY CLUSTERED 
(
	[UserExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPrizes]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPrizes](
	[UpId] [int] IDENTITY(1,1) NOT NULL,
	[EntityId] [int] NOT NULL,
	[PrizeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UserPrizes] PRIMARY KEY CLUSTERED 
(
	[UpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/03/2025 4:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](20) NOT NULL,
	[Mobile] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](250) NULL,
	[Password] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[JoinDate] [datetime2](7) NOT NULL,
	[Gender] [char](1) NULL,
	[Role] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Artists] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AppConfigs] ([ConfigKey], [ConfigValue]) VALUES (N'Name', N'QUIZ')
GO
SET IDENTITY_INSERT [dbo].[Carousels] ON 

INSERT [dbo].[Carousels] ([CarouselId], [Title], [Image], [IsActive], [AppId], [SerialNo]) VALUES (1, N'1', N'1.jpg', 1, 3, 1)
INSERT [dbo].[Carousels] ([CarouselId], [Title], [Image], [IsActive], [AppId], [SerialNo]) VALUES (2, N'2', N'2.jpg', 1, 3, 2)
INSERT [dbo].[Carousels] ([CarouselId], [Title], [Image], [IsActive], [AppId], [SerialNo]) VALUES (3, N'3', N'3.jpg', 1, 3, 3)
SET IDENTITY_INSERT [dbo].[Carousels] OFF
GO
SET IDENTITY_INSERT [dbo].[Logins] ON 

SET IDENTITY_INSERT [dbo].[Logins] OFF
GO
INSERT [dbo].[Menus] ([MenuId], [ParentId], [Name], [Image], [IsActive], [SerialNo]) VALUES (1, 0, N'ক্লাস ৬-১২', N'1.jpg', 1, 1)
INSERT [dbo].[Menus] ([MenuId], [ParentId], [Name], [Image], [IsActive], [SerialNo]) VALUES (2, 0, N'ভর্তি পরীক্ষা', N'2.jpg', 1, 2)
INSERT [dbo].[Menus] ([MenuId], [ParentId], [Name], [Image], [IsActive], [SerialNo]) VALUES (3, 0, N'জব প্রস্তুতি', N'3.jpg', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Options] ON 

INSERT [dbo].[Options] ([OptionId], [Title], [IsActive], [IsCorrect], [QuestionId]) VALUES (1, N'Very delicious', 1, 1, 1)
INSERT [dbo].[Options] ([OptionId], [Title], [IsActive], [IsCorrect], [QuestionId]) VALUES (2, N'Not bad', 1, 0, 1)
INSERT [dbo].[Options] ([OptionId], [Title], [IsActive], [IsCorrect], [QuestionId]) VALUES (3, N'Also normal', 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Options] OFF
GO
SET IDENTITY_INSERT [dbo].[Prizes] ON 

INSERT [dbo].[Prizes] ([PrizeId], [EntityId], [Name], [Amount]) VALUES (1, 1, N'First Prize', CAST(100 AS Decimal(18, 0)))
INSERT [dbo].[Prizes] ([PrizeId], [EntityId], [Name], [Amount]) VALUES (2, 1, N'Second Prize', CAST(50 AS Decimal(18, 0)))
INSERT [dbo].[Prizes] ([PrizeId], [EntityId], [Name], [Amount]) VALUES (3, 1, N'Third Prize', CAST(20 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Prizes] OFF
GO
INSERT [dbo].[Programs] ([ProgramId], [Name], [IsActive], [SerialNo]) VALUES (1, N'এইচএসসি', 1, 1)
INSERT [dbo].[Programs] ([ProgramId], [Name], [IsActive], [SerialNo]) VALUES (2, N'এসএসসি', 1, 2)
INSERT [dbo].[Programs] ([ProgramId], [Name], [IsActive], [SerialNo]) VALUES (3, N'অষ্টম শ্রেণি', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [Title], [IsActive], [Description], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (1, N'For example, what do you think about the restaurant’s special dish today?', 1, NULL, 1, NULL, CAST(N'2023-06-19T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Questions] ([QuestionId], [Title], [IsActive], [Description], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (2, N'Harry Potter and the Philosopher’s Stone was first published by Bloomsbury in the UK in _____', 1, NULL, 1, 1, CAST(N'2023-06-28T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Questions] ([QuestionId], [Title], [IsActive], [Description], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (3, N' JSON is a _____ for storing and transporting data.', 1, NULL, 1, 1, CAST(N'2023-06-25T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
INSERT [dbo].[Subjects] ([SubjectId], [ProgramId], [Name], [Part], [Code], [IsActive], [SerialNo]) VALUES (1, 1, N'বাংলা', N'১ম পত্র', N'122', 1, 1)
INSERT [dbo].[Subjects] ([SubjectId], [ProgramId], [Name], [Part], [Code], [IsActive], [SerialNo]) VALUES (2, 1, N'বাংলা', N'২য় পত্র', N'1221', 1, 1)
INSERT [dbo].[Subjects] ([SubjectId], [ProgramId], [Name], [Part], [Code], [IsActive], [SerialNo]) VALUES (3, 1, N'তথ্য ও যোগাযোগ প্রযুক্তি', NULL, N'45', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[UserPrizes] ON 

INSERT [dbo].[UserPrizes] ([UpId], [EntityId], [PrizeId], [UserId]) VALUES (1, 1, 1, 1)
INSERT [dbo].[UserPrizes] ([UpId], [EntityId], [PrizeId], [UserId]) VALUES (2, 1, 2, 2)
INSERT [dbo].[UserPrizes] ([UpId], [EntityId], [PrizeId], [UserId]) VALUES (3, 1, 3, 3)
SET IDENTITY_INSERT [dbo].[UserPrizes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [Image], [Mobile], [Email], [Password], [IsActive], [JoinDate], [Gender], [Role], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (1, N'Ononna Islam', N'0ZY3PNOD5TETPZE.jpeg', N'01711519594', NULL, N'$2a$11$sE9WFdNb0/kkvvYC6uzR6O4WoV2Q86k30eftEEsx0lngbcqSbNaVi', 1, CAST(N'2020-05-05T20:17:22.1774287' AS DateTime2), N'F', 3, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Name], [Image], [Mobile], [Email], [Password], [IsActive], [JoinDate], [Gender], [Role], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (2, N'Eva Sultana', N'66HGFDQRUSD7KN3.jpeg', N'01717698091', NULL, N'$2a$11$sE9WFdNb0/kkvvYC6uzR6O4WoV2Q86k30eftEEsx0lngbcqSbNaVi', 1, CAST(N'2020-05-05T21:15:29.3379087' AS DateTime2), N'F', 3, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Name], [Image], [Mobile], [Email], [Password], [IsActive], [JoinDate], [Gender], [Role], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (3, N'Sharmin Akter', N'ZCKRISSNS42PDA9.jpeg', N'01710156437', NULL, N'$2a$11$sE9WFdNb0/kkvvYC6uzR6O4WoV2Q86k30eftEEsx0lngbcqSbNaVi', 1, CAST(N'2020-05-05T14:15:38.1598618' AS DateTime2), N'F', 3, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Menus] ADD  CONSTRAINT [DF_Menus_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Programs] ADD  CONSTRAINT [DF_Programs_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
